{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
	<div class="container">
		{% if page.title == "/ceevee" %}
			<div class="site-title">
				<a href=/>David Cardozo</a>
			</div>
			<div class="site-subtitle">
				AI and Robotics lead at <a href=https://kiwibot.com>Kiwi Campus</a>
			</div>
		{% else %}
			<div class="site-title">
				<a href=/>[./David_Cardozo]> \(</a>
			</div>
			<div class="site-subtitle">
				<a href=/>bash: (: command not found</a>
			</div>
		{% endif %}
	</div>

	<div class="panel">
		<div class="container menu">
			<ul>
				{% if page.title == "/ceevee" %}
					<a href="mailto:gdcb1@student.london.ac.uk">gdcb1[at]student[dot]london[dot]ac[dot]uk</a> | <a href="https://www.davidcardozo.com">https://davidcardozo[dot]com</a    > | <a href="https://github.com/Davidnet">GitHub</a>
				{% else %}
					{%- for path in page_paths -%}
						{%- assign my_page = site.pages | where: "path", path | first -%}
						{%- if my_page.title -%}
							<li><a href="{{ my_page.url | relative_url }}">{{ my_page.menu | escape }}</a></li>
						{%- endif -%}
					{%- endfor -%}
				{% endif %}
			</ul>
		</div>
	</div>
</header>
